@{
    ViewData["Title"] = "Hakkımda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section" id="about">

    <div class="container">
        <div class="row ">

            <div class="col-lg-8">
                <br />
                <br />
                <h2 class="mt-0 text-center">@ViewBag.writting</h2>
                <hr class="divider my-4" />

                <p class="mt-0">@ViewBag.writting3</p>
                <p class="mt-0">@ViewBag.writting4</p>
            </div>
            <div class="col-lg-4 text-center">
                <img class="img-fluid" src="~/temaimages/think.jpg" />
            </div>
        </div>
    </div>
</section>